.ProductData {
     width: 100%; /*take the entire width wich is given to that */
}
  
.productTitle {
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
}
  
.ProductDescription{
    font-size: 20px;
    color: rgba(0, 0, 0,0.8); /*gris façon */
    margin-top: 0;
    margin-bottom: 16px;
}
  
.ProductSelect {
    font-size: 28px;
    margin-bottom: 8px;
}
  
.productImage {
     width: 100px;
    max-width: 80px;
  
    border: 2px solid transparent; 
    border-radius: 8px; /* arrondir les contours  */
    margin-right: 12px; /*pour avoir les espaces entre les carreaux*/
    cursor: pointer; /*pour le petit doigt*/
}
  
.SelectedProductImage {
    border: 2px solid teal; 
}
  
.FeatureItem {
    min-width: 80px;
    background-color: gainsboro;
    border-radius: 8px;
    border: 0; /*Pas de trait*/
    margin-right: 12px;
    text-align: center;
    cursor: pointer;
    box-sizing: content-box;
  
    padding: 12px 24px;
    font-weight: 600; 
}
  
.selectedFeatureItem {
    color: white;
    background-color: gray;
}
  
.BuyButton {
    background-color: teal;
    border: 0;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 24px;
    cursor: pointer;
    
    padding: 12px 24px;
    font-weight: 600; 
}