body{
  font-family: 'source sans Pro', sans-serif ;
}

.MainContainer {
  padding: 4% 12%;
  margin-top: 32px;
  box-sizing: border-box; /*pour avoir */

  width: 100%;
  display: flex;
  align-items: center;
}

/* .ProductPreview{
  width: 50%; /*diviser l'ecran en 2*/
/*  position: relative;
}
Pour la suite regarder dans les diferents module.css
.ProductData {
  width: 50%;
} */