
.Topbar {
  width: 100%;
  background-color: #282c34;
  padding: 24px 48px 12px;
  text-align: center;

  /*Le code pour fixer la bare on the top*/
  position: fixed;
  top: 0;
  left: 0;
}

.Topbar > img {
  width: 100px;
}